@layer components {
  .iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    color: var(--color-neutral-20);
    font-size: var(--text-20);
    transition: background-color 150ms ease-in-out;

    &:hover {
      background-color: var(--color-background-darkgray);
    }
  }

  .is-outlined {
    border: 1px solid var(--color-border);
    background-color: var(--color-white);
  }

  .is-ghost {
    background-color: var(--color-white);
  }

  .is-float {
    box-shadow: 0 3px 17px 0 var(--color-neutral-70);
  }

  /* desktop */
  @media screen and (min-width: 1024px) {
    .iconButton {
      width: 44px;
      height: 44px;
    }
  }
}
