/* markdown 스타일 */
@layer components {
  .markdown {
    code {
      display: inline-block;
      padding: 0 6px !important;
      border: none;
      border-radius: var(--radius-4);
      background-color: var(--color-background-darkgray);
      font-size: var(--text-14);
    }

    li {
      list-style: inside;
    }
  }
}
