@import "tailwindcss";

/* (지우지 마세요!) 다른 프로젝트에도 컴포 스타일 적용 */
@source "../components/**/*.{ts, tsx}";

@layer theme, base, components;

/* variables */
@import "./variables/color.css" layer(theme);
@import "./variables/typo.css" layer(theme);
@import "./variables/spacing.css" layer(theme);
@import "./variables/z-index.css" layer(theme);
@import "./variables/border-radius.css" layer(theme);

/* base */
@import "./base/reset.css" layer(base);
@import "./base/global.css" layer(base);
@import "./base/font.css" layer(base);

/* components
- 강제 스타일 유지(tree-shaking에도 끄떡없는 스타일 구현)
- 최종 빌드 CSS에 포함하도록 보장됨
- 꼭 필요한 것만 넣기
*/
@import "./components/modal.css" layer(components);
@import "./components/iconButton.css" layer(components);
@import "./components/markdown.css" layer(components);
@import "./components/dropdown.css" layer(components);
@import "./components/toast.css" layer(components);

/* utilities */
@utility text-heading-* {
  font-size: --value(--heading-size- *);
  line-height: --value(--heading-height- *);
  letter-spacing: --value(--heading-spacing- *);
  font-weight: --value(--heading-weight- *);
}

@utility text-body-* {
  font-size: --value(--body-size- *);
  line-height: --value(--body-height- *);
  letter-spacing: --value(--body-spacing- *);
  font-weight: --value(--body-weight- *);
}

@utility text-button-* {
  font-size: --value(--button-size- *);
  line-height: --value(--button-height- *);
  letter-spacing: --value(--button-spacing- *);
  font-weight: --value(--button-weight- *);
  white-space: nowrap;
}

@utility text-link-* {
  font-size: --value(--link-size- *);
  line-height: --value(--link-height- *);
  letter-spacing: --value(--link-spacing- *);
  white-space: nowrap;
}

@utility text-caption {
  font-size: var(--caption-size);
  line-height: var(--caption-height);
  letter-spacing: var(--caption-spacing);
  font-weight: var(--caption-weight);
  white-space: nowrap;
}
