@import "tailwindcss";

/* (지우지 마세요!) 다른 프로젝트에도 컴포 스타일 적용 */
@source "../components/**/*.{ts, tsx}";

@layer theme, base;

/* variables */
@import "./variables/color.css" layer(theme);
@import "./variables/typo.css" layer(theme);
@import "./variables/spacing.css" layer(theme);
@import "./variables/z-index.css" layer(theme);
@import "./variables/border-radius.css" layer(theme);

/* base */
@import "./base/reset.css" layer(base);
@import "./base/global.css" layer(base);
@import "./base/font.css" layer(base);

/* utilities */
@utility text-heading-* {
  font-size: --value(--heading-size- *);
  line-height: --value(--heading-height- *);
  letter-spacing: --value(--heading-spacing- *);
  font-weight: --value(--heading-weight- *);
}

@utility text-body-* {
  font-size: --value(--body-size- *);
  line-height: --value(--body-height- *);
  letter-spacing: --value(--body-spacing- *);
  font-weight: --value(--body-weight- *);
}

@utility text-button-* {
  font-size: --value(--button-size- *);
  line-height: --value(--button-height- *);
  letter-spacing: --value(--button-spacing- *);
  font-weight: --value(--button-weight- *);
}

@utility text-link-* {
  font-size: --value(--link-size- *);
  line-height: --value(--link-height- *);
  letter-spacing: --value(--link-spacing- *);
  font-weight: --value(--link-weight- *);
}

@utility text-caption {
  font-size: var(--caption-size);
  line-height: var(--caption-height);
  letter-spacing: var(--caption-spacing);
  font-weight: var(--caption-weight);
}
